body {
    background-color: #25274D;
}

/* begin page header */

.page-header {
    background-color: rgb(22, 123, 169);
    color: rgb(22, 123, 169);
    border-bottom: 1px solid rgb(22, 123, 169);
    box-shadow: 0 2px 5px rgb(22, 123, 169);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 65%;
    margin: 0 auto;
    margin-top: 3em;
}

.logo {
    max-width: 1em;
    max-height: 1em;
    border-radius: 3em;
}

.primary-nav {
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-links {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;

}

.nav-links li {
    margin: 0 1em
}

.beer-list {
    display: flex;
    align-items: flex-end;
    font-size: 1.6em;
}

.left-image-container {
    margin-right: .2em;
}

.right-image-container {
    margin-left: .2em;
}

.foodie-brau {
    font-size: 3em;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 5px 5px 0 #000;
    padding-bottom: .6em;
}

.your-list {
    display: flex;
    align-items: flex-end;
    font-size: 1.6em;
}

.nav-links li a {
    display: flex;

    text-decoration: none;
    color: white;
    font-weight: 600;
    font-family: 'Gloria Hallelujah', cursive;
}

/* ending of page header */

/* Might delete 87-97, need to talk with brandon :first */

 /* @media screen and (min-width: 776px) and (max-width: 1090px) {
    .foodie-brau {
        font-size: 2.2em
    }

    .foodie-brau a {
        text-align: center;
        text-justify: auto;
        white-space: nowrap
    }

}  */

@media screen and (max-width: 775px) {
    .page-header {
        max-width: 100%
    }

    .foodie-brau {
        font-size: 1.5em
    }

    .foodie-brau a {
        text-align: center;
        text-justify: auto;
        white-space: nowrap
    }

    .beer-list {
        font-size: .95em;
    }

    .beer-list a {
        text-align: center;
    }

    .your-list {
        font-size: .95em;
    }

    .your-list a {
        text-align: center;
    }
}
/* line 130 closing tag for media q */

/* css tags for intro and form elements */

.introduction-div {
    display: flex;
    justify-content: center;
}

.intro {
    color: #AAABB8;
    font-size: 20px;
    width: 85%;
    margin-top: 2em;
    font-family: 'Gloria Hallelujah', cursive;
}

.beer-selector-div {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin-top: 3em;
    margin-bottom: 3em;
} 


.select-form {}

#abv-select {}

#ibu-select {}

#color-select {}


.light {
    background-color: rgb(246, 244, 99);
}

.copper {
    background-color: rgb(188, 106, 40);
}

.amber {
    background-color: rgb(104, 32, 14);
}

.dark {
    background-color: rgb(39, 4, 2);
}


/* 
.random-container {
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 0 auto;


}

.random-pull {
    text-align: center;
    color: #AAABB8;
}




.centered-title {
    display: flex;
    justify-content: center;
}

.tmb-up {
    display: flex;
}

.tmb-down {
    display: flex;
} */


/* changed min rem from 50 down to 5, bad idea, leave it at 50*/

@media screen and (min-width: 50rem) {
    #main {
        height: fit-content;
        border: 3px;
        border-style: solid;
        border-color: #AAABB8;
        box-shadow: 2px 3px 5px 10px #464866;
        margin-left: 80px;
        margin-right: 80px;
        margin-bottom: 150px;
        padding-bottom: 5em;
    }

    .thumbs-up-down {
        display: flex;
        justify-content: flex-end;
        margin-top: -38px;
    }

    .beer-card {
        background-color: #2E9CCA;
        min-height: 250px;
        padding-left: 0;
        color: white;
    }

    .card-entire-content {
        min-height: 225px;
        height: 100%;
    }
 /* }    testing media q */
.btn-primary {
    color: beige;
    font-family: 'Gloria Hallelujah', cursive;
    background-color: #464866;
    border-color: #464866;
    width: fit-content;
}


.card-body-landing {
    height: 14em;
    overflow: scroll;
    overflow-x: hidden;
}

.beer-card-image {
    height: 100%;
    padding-top: 10px;

}

.beer-card-image img{
    max-height: 225px;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.random-container {
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 0 auto;
}

.random-pull {
    text-align: center;
    color: #AAABB8;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 27px;
}
.up-and-down-help {
    text-align: center;
    color: #AAABB8;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 27px;
}

.centered-title {
    display: flex;
    justify-content: center;
    color: #000;
}

.tmb-up {
    display: flex;
}

.tmb-down {
    display: flex;
}
p.card-text {
    color: black;
}




}

/* pairing css selector this is all for the pairings page, all the media q seems to function fine */
.clicked-beer-fl{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.beer-card-rec{
    width: 40rem;
    align-items: center;
    background-color: #2E9CCA;
    flex-direction: row;
}
.beer-image-fl{
    width: 8em;
}
.clicked-beer-details-fl{
}
.beer-name-fl{}
.abv-ibu-ebc-fl{}
.description-fl{}
.hops-malts-fl{}
.hops-li-fl{}
.malt-fl{}
.malt-li-fl{}
.render-recipes-container-fl{
    justify-content: space-evenly;
}
.card-fl{
    background-color: #2E9CCA;
}
.card-row-fl{}
.card-img-container-fl{}
.card-img-fl{
    margin-left: 12px;
}
.card-body-col-fl{}
.card-body-fl{}
.card-title-fl{}
.card-link-button-fl{}

.col-md-5.rec-beer-image {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 15px;
}