.page-header {
    background-color: rgb(22, 123, 169);
    color: rgb(22, 123, 169);
    border-bottom: 1px solid rgb(22, 123, 169);
    box-shadow: 0 2px 5px rgb(22, 123, 169);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 65%;
    margin: 0 auto;
}

.logo {
    max-width: 1em;
    max-height: 1em;
    border-radius: 3em;
}

.primary-nav {
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-links {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;

}

.nav-links li {
    margin: 0 1em
}

.beer-list {
    display: flex;
    align-items: flex-end;
    font-size: 1.6em;
}

.left-image-container {
    margin-right: .2em;
}

.right-image-container {
    margin-left: .2em;
}

.foodie-brau {
    font-size: 3em;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 5px 5px 0 #000;
    padding-bottom: .6em;
}

.your-list {
    display: flex;
    align-items: flex-end;
    font-size: 1.6em;
}

.nav-links li a {
    display: flex;

    text-decoration: none;
    color: white;
    font-weight: 600;
    font-family: 'Gloria Hallelujah', cursive;
}

@media screen and (min-width: 776px) and (max-width: 1090px) {
    .foodie-brau {
        font-size: 2.2em
    }

    .foodie-brau a {
        text-align: center;
        text-justify: auto;
        white-space: nowrap
    }

}

@media screen and (max-width: 775px) {
    .page-header {
        max-width: 100%
    }

    .foodie-brau {
        font-size: 1.5em
    }

    .foodie-brau a {
        text-align: center;
        text-justify: auto;
        white-space: nowrap
    }

    .beer-list {
        font-size: .95em;
    }

    .beer-list a {
        text-align: center;
    }

    .your-list {
        font-size: .95em;
    }

    .your-list a {
        text-align: center;
    }
}

/* css tags for intro and form elements */
.introduction-div {}

*/ .intro {}

*/ .beer-selector-div {}

*/ .select-form {}

*/ #abv-select {}

*/ #ibu-select {}

*/ #color-select {}


.light {
    background-color: rgb(246, 244, 99);
}

.copper {
    background-color: rgb(188, 106, 40);
}

.amber {
    background-color: rgb(104, 32, 14);
}

.dark {
    background-color: rgb(39, 4, 2);
}



.random-container {
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 0 auto;


}

.random-pull {
    text-align: center;
    color: #AAABB8;
}




.centered-title {
    display: flex;
    justify-content: center;
    /* max-width: 140px;   needs to be used if line break isn't used for thumbs up and down */
}

body {

    background-color: #25274D;
    
}

.card {
    /* background-color: transparent; */
    /* border: none; */
    /* color: white */
}

.tmb-up {
    display: flex;
}

.tmb-down {
    display: flex;
}
/* card-text{
    overflow-y: scroll;
    overflow-x: hidden;
} */

@media screen and (min-width: 50rem) {
    #main {
        /* width: 100%; */
        height: 1500px;
        border: 2px;
        border-style: solid;
        border-color: rgb(242, 246, 42);
        box-shadow: 2px 3px 5px 10px #3845f6;
        margin-left: 95px;
        margin-right: 95px;
        margin-bottom: 125px;
    }

    .thumbs-up-down {
        display: flex;
        justify-content: flex-end;
        margin-top: -38px;
    }

    .beer-card {
        background-color: #29648A;
        min-height: 225px;
        padding-left: 0;
        color: white;
    }

    .card-entire-content {
        min-height: 225px;
        height: 100%;
    }
}
.btn-primary {
    color: #fff;
    background-color: #AAABB8;
    border-color: #0d6efd;
    width: fit-content;
}


.mb-3 {
    height: 225px;
}

.card-body {
    height: 14em;
    overflow: scroll;
    overflow-x: hidden;
}

.beer-card-image {
    height: 100%;
}

.beer-card-image img{
    max-height: 225px;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

/* pairing css selector  */
.clicked-beer-fl{}
.beer-image-fl{}
.clicked-beer-details-fl{}
.beer-name-fl{}
.abv-ibu-ebc-fl{}
.description-fl{}
.hops-malts-fl{}
.hops-li-fl{}
.malt-fl{}
.malt-li-fl{}
.render-recipes-container-fl{}
